body {
	background-color: #611C1C;
	color: #e3e3e3;
}

.app-container {
	
}

.app-container.landing-mode {
	margin-top: 15em;
}

.logo-container {
	text-align: center;
}

.search-container {
	margin: 1.5em;
}

.search-container .input-group {
	max-width: 525px;
	margin: 0 auto;
}

input.search {
	
}
