body {
	background-color: #611C1C;
	color: #e3e3e3;
	font-size: 20px;
}

.app-container {
	
}

.app-container.landing-mode {
	margin-top: 10%;
}

.logo-container {
	text-align: center;
}

.search-container {
	margin: 1.5em;
}

.search-container .input-group {
	max-width: 525px;
	margin: 0 auto;
}

.results-container {
	margin: 0 auto;
	max-width: 35em;
}

.result-row {
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background-color: rgba(0,0,0,0.2);
}

.result-row.zebra {
	background-color: rgba(0,0,0,0.1);
}
